body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 500px;
    width: 350px; */
    border-radius: 8px;
    border: 12px gray solid;
    margin: 20px;
    background-color: gray;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.result {
    display: flex;
    border: 2px solid black;
    border-radius: 4px;
    height: 40px;
    justify-content: end;
    align-items: center;
    background-color: white;
    font-size: large;
    padding-right: 16px;
}

.separator {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    border-radius: 4px
}

.main-container {
    display: flex;
}

.main-container * {
    flex: 1;
    background-color: gray;
}

.number-container {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
}

.operation-container {
    display: flex;
    flex-direction: column;
}

.keyboard {
    display: flex;
    flex-direction: column;
    flex: 4;
    background-color: lightgrey;
}

.number-key, .decimal-key, .zero-key, .equal-key{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    flex: 0 0 33.3333%;
}



.decimal-key, .equal-key {
    background-color: grey;
}

.operation-key {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: yellow;
}

.sign-key {
    background-color: yellow;
}

.signature {
    padding-left: 32px
}
