.calculator {
    display: flex;
    justify-content: center;
    height: 500px;
    width: 350px;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.result {
    display: flex;
    border: 1px solid black;
    height: 40px;
    justify-content: end;
}

.separator {
    display: flex;
    flex-direction: row;
}

.main-container {
    display: flex;
}

.main-container * {
    flex: 1;
}

.number-container {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
}

.operation-container {
    display: flex;
    flex-direction: column;
}

.keyboard {
    display: flex;
    flex-direction: column;
    flex: 4;
}

.number-key, .dot-key, .zero-key, .equal-key{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    flex: 0 0 33.3333%;
    
}

.operation-key {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 30px;
}